@import '~styles/variables';

$self: '.message';

.message {
  display: flex;
  align-items: flex-end;
  max-width: 440px;
  width: fit-content;
  & + & {
    margin-top: 30px;
  }
  &:first-child {
    margin-top: auto;
  }
  &--image {
    #{ $self } {
      &__attachments {
        &-item {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
  &--is--typing {
    #{ $self } {
      &__bubble {
        background: $bright-blue;
        box-shadow: none;
      }
      &__avatar {
        img {
          margin-bottom: 0;
        }
      }
    }
  }
  &--is--audio {
    #{$self} {
      &__bubble {
        overflow: hidden;
      }
    }
  }
  &--isme {
    flex-direction: row-reverse;
    margin-left: auto;
    cursor: pointer;
    text-align: right;
    #{ $self } {
      &__bubble {
        background: #ffffff;
        border: 1px solid #ececec;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
        border-radius: 12px 12px 0px 12px;
        margin-left: auto;
        max-width: 400px;
        img {
          left: unset;
          right: 100%;
        }
      }
      &__avatar {
        margin-left: 13px;
        margin-right: 0;
      }
      &__text {
        color: $black;
        word-wrap: break-word;
        span {
          height: 22px;
        }
      }
      &__attachments {
        justify-content: flex-end;
      }
      &__date {
        right: 0;
      }
    }
  }
  &__content {
    position: relative;
  }
  &__attachments + &__bubble {
    margin-top: 5px;
  }
  &__attachments {
    display: flex;
    flex-wrap: wrap;
    &-item {
      & + & {
        margin-left: 5px;
      }
      &:nth-child(n + 8) {
        margin-left: 0;
        margin-top: 5px;
      }
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
  &__avatar {
    margin-right: 13px;
    div {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      font-size: 14px;
    }
  }

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    width: fit-content;
    position: relative;
    img {
      position: absolute;
      bottom: 0px;
      left: 100%;
      transform: scale(0.5);
    }
  }

  &__audio {
    width: 250px;
    audio {
      display: none;
    }
    img {
      position: static;
    }
    &-btn {
      width: 28px;
      height: 28px;
      flex-basis: 28px;
      flex-shrink: 0;
      border-radius: 50%;
      background: #0f3997;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 90%;
      }
    }
    &-progress {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      left: 0;
      top: 0;
      background: #418fff;
      will-change: width;
      transition: 0.3s ease;
    }
    &-duration {
      font-size: 12px;
      opacity: 0.5;
      color: #fff;
      font-weight: 500;
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }
    &-wave {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        width: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 8px;
    display: block;
    position: absolute;
    width: max-content;
    top: 97%;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__typing {
    display: flex;
    align-items: center;
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $bubble-typing-circle;
      display: block;
      animation-name: typingAnimation;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      animation-delay: -1s;
      &:nth-of-type(2) {
        animation-delay: -0.8s;
      }
      &:nth-of-type(3) {
        animation-delay: -0.6s;
      }
    }
    span + span {
      margin-left: 8px;
    }
  }
}

@keyframes typingAnimation {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
