.ch-input {
  padding: 20px 35px;
  &__box {
    display: flex;
    align-items: center;
    &-files {
      margin: 0 43px;
      margin-top: 20px;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
  }
  &__input {
    margin: 0 15px !important;
    &:focus {
      box-shadow: none !important;
      border-color: #d9d9d9 !important;
    }
    &:hover {
      border-color: #d9d9d9 !important;
    }
  }
  &__smile {
    &-btn {
      position: relative;
    }
  }
  &__emoji {
    position: absolute;
    bottom: 40px;
    .emoji-mart-search {
      display: flex;
      margin-bottom: 10px;
    }
    .emoji-mart-emoji span {
      cursor: pointer !important;
    }
  }
  &__files {
    cursor: pointer;
    input {
      cursor: pointer !important;
      width: auto !important;
      height: auto !important;
    }
    &:hover span,
    input {
      opacity: 1;
    }
  }
  &__icon {
    font-size: 18px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s;
    padding: 5px;
    & + & {
      margin-left: 5px;
    }
    &:hover {
      opacity: 1;
    }
    &-send {
      font-size: 23px;
      cursor: pointer;
    }
  }
}
